<%= form_with(model: name, local: true) do |form| %>
  <% if name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(name.errors.count, "error") %> prohibited this name from being saved:</h2>

      <ul>
        <% name.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="product-block">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th><%= form.label :name %></th>
        <td><%= form.text_field :name %></td>
      </tr>
      <tr>
        <th><%= form.label :pin %></th>
        <td><%= form.number_field :pin %></td>
      </tr>
      <tr>
        <th><%= form.label :share %></th>
        <td><%= form.check_box :share %></td>
      </tr>
      <tr>
        <td colspan="2"><%= form.submit %></td>
      </tr>
    </table>
  </div>
<% end %>
