<%= form_with(model: activation, local: true) do |form| %>
  <% if activation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activation.errors.count, "error") %> prohibited this activation from being saved:</h2>

      <ul>
        <% activation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="product-block">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th><%= form.label :code %></th>
        <td><%= form.text_field :code %></td>
      </tr>
      <tr>
        <th><%= form.label :device_info %></th>
        <td><%= form.text_area :device_info %></td>
      </tr>
      <tr>
        <td colspan="2"><%= form.submit class: "btn btn-primary" %></td>
      </tr>
    </table>
  </div>
<% end %>
