<p id="notice"><%= notice %></p>

<% activation = Activation.new %>
<%= form_with(model: activation, local: true) do |form| %>
  <% if activation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activation.errors.count, "error") %> prohibited this activation from being saved:</h2>

      <ul>
        <% activation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="product-block">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th><%= form.label :code %></th>
        <td><%= form.text_field :code, class: "form-control", placeholder: "Enter Code from Device" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= form.submit 'Activate Device', class: "btn btn-primary" %></td>
      </tr>
    </table>
  </div>
<% end %>

<%= link_to 'Back', activations_path %>
