<!DOCTYPE html>
<html>
<head>
  <title>Fylakas Onomaton</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'utility', 'data-turbolinks-track': 'reload' %>
  <link href="/awesome-free-5.15.3-web/css/all.css" rel="stylesheet">
  <script type="text/javascript">
    document.addEventListener('turbolinks:before-render', (event) => {
      setDarkness(event.data.newBody);
    });
  </script>
</head>

<body id="body">
  <nav class="navbar navbar-inverse navbar-top navbar-fixed-top">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="/fo-pen.svg" style="height: 1em;">
            Fýlakas Onomáton
          </a>
        </div>
        <nav id="hamnav">
          <label for="hamburger" id="hamlabel" onclick="replaceBurger();"><i class="fas fa-bars"></i></label>
          <input type="checkbox" id="hamburger"/>
          <div id="hamitems">
            <div class="ham-item btn-group btn-group-toggle container-fluid" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input
                  type="radio"
                  name="modal-style"
                  id="light-mode"
                  autocomplete="off"
                  onclick="toggleDark(false);"
                > Light 🌞
              </label>
              <label class="btn btn-secondary">
                <input
                  type="radio"
                  name="modal-style"
                  id="dark-mode"
                  autocomplete="off"
                  onclick="toggleDark(true);"
                > Dark 🌒
              </label>
            </div>
            <% if user_signed_in? %>
              <div class="ham-item">
                <%= link_to raw("Edit Profile <i class='far fa-address-card'></i>"), edit_user_registration_path %>
              </div>
              <div class="ham-item">
                <%= link_to raw("Log Out <i class='fas fa-sign-out-alt'></i>"), destroy_user_session_path, method: :delete %>
              </div>
            <% else %>
              <div class="ham-item">
                <%= link_to raw("Sign Up <i class='fas fa-door-open'></i>"), new_user_registration_path %>
              </div>
              <div class="ham-item">
                <%= link_to raw("Sign In <i class='fas fa-sign-in-alt'></i>"), new_user_session_path %>
              </div>
            <% end %>
            <div class="ham-item">
              <a href="/pages/app">Get the Fýlakas Onomáton App <i class="fab fa-apple"></i> <i class="fab fa-android"></i></a>
            </div>
            <div class="ham-item">
              <a href="/pages/about">
                About Fýlakas Onomáton
                <i class="far fa-address-card"></i>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </nav>

  <div id="main-container" class="container">
    <%= yield %>
  <div>
  </div>
</body>
</html>
